.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  cursor: pointer;
  box-shadow: 2px 2px 50px rgb(224, 224, 224);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}
.library-song {
  display: flex;
  align-items: center;
  //   flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;

  img {
    width: 30%;
  }
  &:hover {
    background: rgb(222, 222, 225);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
